.centerTheTuut{
	text-align: center;
}
.leftTheTuut{
	float: left;
}

#indexMainSection{
	position: relative;
	width: 100%;

}

#IndexStatusSection{
	position: relative;
	width: 100%;
	bottom: 10%;
	/*background-color: black;
	color: green;*/
	text-align: center;
}

#IndexStatusSection .row div:nth-child(2){
	background-color: black;
	color: blue;
	height: 330px;
	overflow-y: auto;
	border-radius: 10px;
	font-family: monospace;

}
#IndexStatusSection .row #producerstatus,#IndexStatusSection .row #indexstatus{
	background-color: black;
	color: blue;
	
	overflow-y: auto;
	border-radius: 0 0 10px 10px;
	font-family: monospace;

}
#IndexStatusSection .row #producerstatus{
	height: 335px;
}


#IndexStatusSection .row #lab{
	background-color: black;
	color: blue;
	border-radius: 10px 10px 0 0;
	font-family: monospace;

}

#IndexStatusSection .extra{
	position: absolute;
	width: 100%;
	bottom: 5%;
	/*background-color: black;
	color: green;*/
	text-align: center;
}
td{
	padding: 5px;
}


#IndexStatusSection .row div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#IndexStatusSection .row div::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#IndexStatusSection .row div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

table{
	border: dashed blue;
	border-top:solid blue;
	
	border-radius: 5px;
	width: 100%;
}

tr, td,th{
	border:dotted blue;
	text-align: center;
}

th{
	background-color: blue;
	color:white;
	border:dotted black;
}
